data_set/*
resources/*
.idea
*.zip
*.pickle
*.tar.gz
*venv
__pycache__/*
tgc/*
testing/*
w2v_tgc/*
nb_ml/__pycache__/*
*lagring/*
*.txt
machine_learning_methods.py
new_artificial_test/*
nb_ml/model.bin
*.bin
config/*
config (copy)/
preprocessing (copy).py
train (copy).py
